{% extends "base.html" %}

{% block title %}Create entry{% endblock %}

{% block content_title %}Create entry{% endblock %}

{% block content %}
  <form action="{{ url_for('create') }}" style="width: 90%; margin: 0 auto"
    method="post">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" name="title" type="text" 
        value="{{ request.form.get('title', '') }}">
    </div>
    
    <div class="form-group">
      <label for="subtitle">Subtitle</label>
      <input class="form-control" id="subtitle" name="subtitle" type="text" 
        value="{{ request.form.get('subtitle', '') }}">
    </div>

    
    <div class="form=group">
      <label for="thumbnail">Thumbnail</label>
      <input type="file" id="thumbnail"><br>
      </div>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <!--<input class="form-control" id="content" name="content" type="textarea" -->
      <!--  rows="5" value="{{ request.form.get('content', '') }}">-->
      <textarea class="form-control" id="content" rows="20"></textarea>
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input class="form-control" id="author" name="author" type="text" 
        value="{{ request.form.get('author', '') }}">
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-default" href="{{ url_for('home') }}">Cancel</a>
    </div>
    
    

{% endblock %}